{
  "openapi": "3.0.2",
  "info": {
    "title": "Ultimate Frisbee API",
    "version": "0.1.0",
    "description": "_Ultimate Frisbee API_ allows you to organize data about teams and players from your local Ultimate Frisbee community.<br/><br/>**Owner:** Leonardo Haddad<br/>**Project Repository**: [https://github.com/leeohaddad/ultimate-frisbee-api](https://github.com/leeohaddad/ultimate-frisbee-api)",
    "contact": {
      "name": "Leonardo Haddad",
      "email": "leo.haddad1@gmail.com"
    }
  },
  "servers": [
    {
      "url": "https://ultimate-frisbee-api.leeohaddad.io"
    }
  ],
  "tags": [
    {
      "name": "Healthcheck",
      "description": "Endpoints to manage API health"
    },
    {
      "name": "People",
      "description": "Endpoints to deal with People"
    },
    {
      "name": "Teams",
      "description": "Endpoints to deal with Teams"
    },
    {
      "name": "Memberships",
      "description": "Endpoints to deal with relationships between Prople and Teams"
    }
  ],
  "paths": {
    "/v1/health/": {
      "get": {
        "summary": "Retrieve statistics about the API resources",
        "tags": [
          "Healthcheck"
        ],
        "responses": {
          "200": {
            "description": "Successful operation, returns resources statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerStats"
                }
              }
            }
          }
        }
      }
    },
    "/v1/people/": {
      "get": {
        "summary": "Retrieve a list of people",
        "tags": [
          "People"
        ],
        "responses": {
          "200": {
            "description": "Successful operation, returns a list of people",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Person"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Creates a new person",
        "tags": [
          "People"
        ],
        "requestBody": {
          "description": "Information about the new person",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful operation, returns created person",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Data sent with invalid fields"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/teams/": {
      "get": {
        "summary": "Retrieve a list of teams",
        "tags": [
          "Teams"
        ],
        "responses": {
          "200": {
            "description": "Successful operation, returns a list of teams",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Team"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Creates a new team",
        "tags": [
          "Teams"
        ],
        "requestBody": {
          "description": "Information about the new team",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful operation, returns created team",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Data sent with invalid fields"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict, team already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "team with this name already exists"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/teams/{name}/": {
      "get": {
        "summary": "Retrieve a team by name",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name of the team to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation, returns the team",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "404": {
            "description": "Team not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "no team with name 'example-team' was found"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "summary": "Update a team by name",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name of the team to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated team information",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation, returns updated team",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Data sent with invalid fields"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Team not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "no team with name 'example-team' was found"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "PersonNotFound": {
        "description": "Person not found"
      },
      "InternalServerError": {
        "description": "Internal server error"
      }
    },
    "schemas": {
      "Person": {
        "type": "object",
        "properties": {
          "userName": {
            "type": "string",
            "description": "Unique username identifier for the person"
          },
          "name": {
            "type": "string",
            "description": "Full name of the person"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the person"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Phone number of the person"
          },
          "wfdfNumber": {
            "type": "string",
            "description": "World Flying Disc Federation number"
          },
          "originCountry": {
            "type": "string",
            "description": "Country of origin of the person"
          },
          "createdBy": {
            "type": "string",
            "description": "Username of the person who created this record"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this record was created"
          },
          "updatedBy": {
            "type": "string",
            "description": "Username of the person who last updated this record"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this record was last updated"
          }
        },
        "example": {
          "userName": "leo.haddad",
          "name": "Leonardo Haddad",
          "email": "leo.haddad1@gmail.com",
          "phoneNumber": "+55 11 99999-9999",
          "wfdfNumber": "123456",
          "originCountry": "Brazil",
          "createdBy": "admin",
          "createdAt": "2025-11-02T10:00:00Z",
          "updatedBy": "admin",
          "updatedAt": "2025-11-02T10:00:00Z"
        }
      },
      "PersonCreateRequest": {
        "type": "object",
        "required": ["userName", "name", "email", "phoneNumber", "wfdfNumber", "originCountry", "createdBy"],
        "properties": {
          "userName": {
            "type": "string",
            "description": "Unique username identifier for the person"
          },
          "name": {
            "type": "string",
            "description": "Full name of the person"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the person"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Phone number of the person"
          },
          "wfdfNumber": {
            "type": "string",
            "description": "World Flying Disc Federation number"
          },
          "originCountry": {
            "type": "string",
            "description": "Country of origin of the person"
          },
          "createdBy": {
            "type": "string",
            "description": "Username of the person creating this record"
          }
        }
      },
      "Team": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "description": "URL-friendly identifier for the team"
          },
          "name": {
            "type": "string",
            "description": "Name of the team"
          },
          "description": {
            "type": "string",
            "description": "Description of the team"
          },
          "originCountry": {
            "type": "string",
            "description": "Country of origin of the team"
          },
          "createdBy": {
            "type": "string",
            "description": "Username of the person who created this record"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this record was created"
          },
          "updatedBy": {
            "type": "string",
            "description": "Username of the person who last updated this record"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this record was last updated"
          }
        },
        "example": {
          "slug": "ultimate-warriors",
          "name": "Ultimate Warriors",
          "description": "A competitive ultimate frisbee team",
          "originCountry": "United States",
          "createdBy": "admin",
          "createdAt": "2025-11-02T10:00:00Z",
          "updatedBy": "admin",
          "updatedAt": "2025-11-02T10:00:00Z"
        }
      },
      "TeamCreateRequest": {
        "type": "object",
        "required": ["slug", "name", "description", "originCountry", "createdBy"],
        "properties": {
          "slug": {
            "type": "string",
            "description": "URL-friendly identifier for the team"
          },
          "name": {
            "type": "string",
            "description": "Name of the team"
          },
          "description": {
            "type": "string",
            "description": "Description of the team"
          },
          "originCountry": {
            "type": "string",
            "description": "Country of origin of the team"
          },
          "createdBy": {
            "type": "string",
            "description": "Username of the person creating this record"
          }
        }
      },
      "TeamUpdateRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Updated description of the team"
          },
          "originCountry": {
            "type": "string",
            "description": "Updated country of origin of the team"
          },
          "updatedBy": {
            "type": "string",
            "description": "Username of the person updating this record"
          }
        }
      },
      "ServerStats": {
        "type": "object",
        "properties": {
          "now": {
            "type": "integer",
            "format": "int64",
            "description": "Server current timestamp"
          },
          "uptime": {
            "type": "number",
            "format": "float",
            "description": "Number of seconds that this API has been running"
          }
        }
      }
    }
  }
}

